.cool-weather-app{
  max-width: 1000px;
  margin: 30px 0 auto;
  padding: 30px;
  border: 3px solid #EA6E4B;
  border-radius:6px ;
} 

ul {
  margin: 0;
  padding: 0;
}

li {
 list-style: none;
}

#forecast {
  margin: 30px 0 auto;
 
  width: 900px;
}

#ftime {
  text-align: center;
}

#ficon {
  text-align: center;
}

#ftemp {
  text-align: center;
}
